In [1]:
import pandas as pd
df=pd.read_csv('bengaluru_house_prices.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [2]:
# Sample data for demonstration
import pandas as pd

data = {
    'col1': [True, False, True, False],
    'col2': [False, True, True, False]
}

df12 = pd.DataFrame(data)

# Replace boolean True/False with 1/0
df13 = df12.replace({
    True: 1,
    False: 0
})

# Display the first few rows of the DataFrame
print(df13.head())

   col1  col2
0     1     0
1     0     1
2     1     1
3     0     0